NIM GENAP 2602105632 PEREMPUAN - DATASET D

In [1]:
pip install xgboost

Collecting xgboost
  Using cached xgboost-2.0.3-py3-none-win_amd64.whl (99.8 MB)
Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in c:\users\asus\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [39]:
pip install streamlit

Collecting streamlit
  Downloading streamlit-1.33.0-py2.py3-none-any.whl (8.1 MB)
Collecting pyarrow>=7.0
  Downloading pyarrow-16.0.0-cp39-cp39-win_amd64.whl (25.9 MB)
Collecting typing-extensions<5,>=4.3.0
  Downloading typing_extensions-4.11.0-py3-none-any.whl (34 kB)
Collecting tenacity<9,>=8.1.0
  Downloading tenacity-8.2.3-py3-none-any.whl (24 kB)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (9.0.1)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (4.25.3)
Collecting altair<6,>=4.0
  Downloading altair-5.3.0-py3-none-any.whl (857 kB)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (4.2.2)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (6.1)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (1.22.4)
Collecting blinker<2,>=1.0.0
  Downloading blinker-1.8.1-py3-none-any.whl (9.5 kB)
Requirement already satisfied: click<9,>=7.0 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: packaging<25,>=16.8 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (21.3)
Collecting gitpython!=3.1.19,<4,>=3.0.7
  Downloading GitPython-3.1.43-py3-none-any.whl (207 kB)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (1.4.2)
Requirement already satisfied: requests<3,>=2.27 in c:\users\asus\anaconda3\lib\site-packages (from streamlit) (2.27.1)
Collecting pydeck<1,>=0.8.0b4
  Downloading pydeck-0.9.0b1-py2.py3-none-any.whl (5.8 MB)
Requirement already satisfied: jsonschema>=3.0 in c:\users\asus\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.4.0)
Requirement already satisfied: toolz in c:\users\asus\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.11.2)
Requirement already satisfied: jinja2 in c:\users\asus\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (2.11.3)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.4)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.11-py3-none-any.whl (62 kB)
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: attrs>=17.4.0 in c:\users\asus\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\asus\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\asus\anaconda3\lib\site-packages (from packaging<25,>=16.8->streamlit) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2021.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\asus\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<3,>=1.3.0->streamlit) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2021.10.8)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\asus\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.17.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\asus\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\asus\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Installing collected packages: smmap, typing-extensions, gitdb, tenacity, pydeck, pyarrow, gitpython, blinker, altair, streamlit
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.1.1
    Uninstalling typing-extensions-4.1.1:
      Successfully uninstalled typing-extensions-4.1.1
  Attempting uninstall: tenacity
    Found existing installation: tenacity 8.0.1
    Uninstalling tenacity-8.0.1:
      Successfully uninstalled tenacity-8.0.1
Successfully installed altair-5.3.0 blinker-1.8.1 gitdb-4.0.11 gitpython-3.1.43 pyarrow-16.0.0 pydeck-0.9.0b1 smmap-5.0.1 streamlit-1.33.0 tenacity-8.2.3 typing-extensions-4.11.0
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-intel 2.16.1 requires numpy<2.0.0,>=1.23.5; python_version <= "3.11", but you have numpy 1.22.4 which is incompatible.

In [45]:
import pandas as pd
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt
import seaborn as sn

import streamlit as plt

from sklearn.model_selection import train_test_split

from xgboost import XGBClassifier

from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, log_loss, classification_report, confusion_matrix

In [3]:
df = pd.read_csv("C:\jane\MDMT\data_D.csv")
df.head()

,Unnamed: 0,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,churn
0,0,106473,15639576,Sarratt,652.0,France,Female,65.0,3,0.00,2,1,1,136592.24,0
1,1,62345,15769582,Hanson,464.0,France,Male,35.0,4,0.00,1,0,0,99505.75,1
2,2,126615,15675888,Austin,620.0,Germany,Female,39.0,6,129401.87,2,1,1,102681.32,1
3,3,35909,15786617,Tuan,598.0,France,Female,30.0,7,0.00,2,1,0,141210.18,0
4,4,45175,15757310,Li Fonti,682.0,Germany,Female,46.0,4,107720.57,1,0,0,93832.33,1

In [4]:
df.tail()

,Unnamed: 0,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,churn
41254,41254,105680,15671769,Nkemdirim,567.0,France,Female,37.0,1,121801.49,1,0,0,177028.00,0
41255,41255,70760,15570299,Martin,584.0,Germany,Female,31.0,4,152622.34,1,1,0,99298.80,0
41256,41256,3091,15807593,Tseng,684.0,France,Male,36.0,4,0.00,1,1,0,152992.04,0
41257,41257,20130,15583460,Nwankwo,709.0,France,Male,38.0,3,0.00,2,1,1,185580.23,0
41258,41258,161328,15681655,Hs?,850.0,France,Male,43.0,2,0.00,2,1,1,93882.93,0

In [5]:
df.shape

(41259, 15)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41259 entries, 0 to 41258
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       41259 non-null  int64
 1   id               41259 non-null  int64
 2   CustomerId       41259 non-null  int64
 3   Surname          41259 non-null  object
 4   CreditScore      41251 non-null  float64
 5   Geography        41259 non-null  object
 6   Gender           41259 non-null  object
 7   Age              41259 non-null  float64
 8   Tenure           41259 non-null  int64
 9   Balance          41259 non-null  float64
 10  NumOfProducts    41259 non-null  int64
 11  HasCrCard        41259 non-null  int64
 12  IsActiveMember   41259 non-null  int64
 13  EstimatedSalary  41259 non-null  float64
 14  churn            41259 non-null  int64
dtypes: float64(4), int64(8), object(3)
memory usage: 4.7+ MB

In [7]:
df.describe()

,Unnamed: 0,id,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,churn
count,41259.000000,41259.000000,4.125900e+04,41251.000000,41259.000000,41259.000000,41259.000000,41259.000000,41259.000000,41259.000000,41259.000000,41259.000000
mean,20629.000000,82171.693231,1.569221e+07,656.278733,38.060254,4.999127,55712.496615,1.554328,0.754405,0.496667,112308.502138,0.211324
std,11910.591715,47498.739183,7.137974e+04,80.062353,8.801094,2.802930,62858.019091,0.545629,0.430445,0.499995,50367.874510,0.408252
min,0.000000,3.000000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,10314.500000,41098.500000,1.563347e+07,598.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,74580.800000,0.000000
50%,20629.000000,81851.000000,1.569013e+07,659.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,117036.380000,0.000000
75%,30943.500000,123064.500000,1.575714e+07,710.000000,42.000000,7.000000,120165.300000,2.000000,1.000000,1.000000,154811.290000,0.000000
max,41258.000000,165033.000000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

In [8]:
df.columns

Index(['Unnamed: 0', 'id', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'churn'],
      dtype='object')

In [9]:
df.isna().sum()

Unnamed: 0         0
id                 0
CustomerId         0
Surname            0
CreditScore        8
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
churn              0
dtype: int64

In [10]:
missing_cols = df.columns[df.isnull().any()].tolist()

In [11]:
# value count

df.value_counts()

Unnamed: 0  id      CustomerId  Surname   CreditScore  Geography  Gender  Age   Tenure  Balance    NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  churn
0           106473  15639576    Sarratt   652.0        France     Female  65.0  3       0.00       2              1          1               136592.24        0        1
27479       24254   15591698    H?        579.0        France     Female  25.0  5       0.00       2              1          0               131097.90        0        1
27501       17354   15751208    Yobachi   678.0        France     Male    33.0  2       0.00       2              1          0               60905.51         0        1
27502       5659    15600575    Lucchesi  543.0        France     Female  38.0  3       0.00       2              1          1               142822.37        0        1
27503       4072    15658057    Hsing     586.0        Spain      Female  42.0  9       0.00       1              1          0               93881.75         1        1
                                                                                                                                                                      ..
13755       27585   15728505    L?        601.0        Germany    Male    44.0  4       124601.58  1              1          1               62678.53         0        1
13756       118009  15641359    Ch'ang    727.0        Germany    Female  51.0  8       88963.31   2              1          0               96670.20         1        1
13757       5184    15761168    Manna     478.0        France     Female  38.0  4       171913.87  1              1          1               51820.87         0        1
13758       128043  15689328    Nwankwo   726.0        Germany    Male    29.0  2       137849.70  2              1          1               152643.17        0        1
41258       161328  15681655    Hs?       850.0        France     Male    43.0  2       0.00       2              1          1               93882.93         0        1
Length: 41251, dtype: int64

In [12]:
# Handle missing value

df = df.drop(columns=['Unnamed: 0', 'id', 'CustomerId', 'Surname'])

In [13]:
df = df.dropna()

Encoding

In [14]:
# Encode categorical variables
label_encoder = LabelEncoder()
categoric_cols = ['Geography', 'Gender']
for col in categoric_cols:
    df[col] = label_encoder.fit_transform(df[col])

Split Data : Train and Test

In [21]:
X = df.drop(columns = ['churn'])
y = df['churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_train shape: (33000, 10)
y_train shape: (33000,)
X_test shape: (8251, 10)
y_test shape: (8251,)

Model Training

In [22]:
# Train Random Forest model

rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)

RandomForestClassifier()

In [17]:
# Train XGBoost model

xgb_model = XGBClassifier()
xgb_model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [23]:
# Evaluate models

def evaluate_model(model, X_test, y_test):
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    return accuracy, precision, recall, f1

rf_accuracy, rf_precision, rf_recall, rf_f1 = evaluate_model(rf_model, X_test, y_test)
xgb_accuracy, xgb_precision, xgb_recall, xgb_f1 = evaluate_model(xgb_model, X_test, y_test)

In [27]:
# Random Forest model performance

print("Accuracy:", rf_accuracy)
print("Precision:", rf_precision)
print("Recall:", rf_recall)
print("F1-score:", rf_f1)

Accuracy: 0.8578354138892256
Precision: 0.7145049884881044
Recall: 0.5375288683602771
F1-score: 0.6135090609555189

In [26]:
# XGBoost model performance

print("Accuracy:", xgb_accuracy)
print("Precision:", xgb_precision)
print("Recall:", xgb_recall)
print("F1-score:", xgb_f1)

Accuracy: 0.8567446370136953
Precision: 0.7022058823529411
Recall: 0.5513856812933026
F1-score: 0.6177231565329884

In [28]:
# Saving best model

best_model = rf_model if rf_accuracy > xgb_accuracy else xgb_model
with open('best_model.pkl', 'wb') as f:
    pickle.dump(best_model, f)

Transform best model into OOP format

In [29]:
class ChurnClassifier:
    def __init__(self, model):
        self.model = model
    
    def train(self, X_train, y_train):
        self.model.fit(X_train, y_train)
    
    def predict(self, X_test):
        return self.model.predict(X_test)
    
    def evaluate(self, X_test, y_test):
        y_pred = self.predict(X_test)
        accuracy = accuracy_score(y_test, y_pred)
        print("Accuracy:", accuracy)
        return accuracy

In [30]:
# Train Random Forest model

rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

rf_classifier = ChurnClassifier(rf_model)
rf_classifier.train(X_train, y_train)

In [31]:
# Evaluate Random Forest model

rf_accuracy = rf_classifier.evaluate(X_test, y_test)

Accuracy: 0.8537147012483335

In [32]:
# Train the model

xgb_model = XGBClassifier(random_state=42)

xgb_classifier = ChurnClassifier(xgb_model)
xgb_classifier.train(X_train, y_train)

In [33]:
# Evaluate XGBoost model

xgb_accuracy = xgb_classifier.evaluate(X_test, y_test)

Accuracy: 0.8567446370136953

In [34]:
# Choosing best model based on accuracy

best_model = rf_classifier if rf_accuracy > xgb_accuracy else xgb_classifier
print("Best model:", best_model.model)

Best model: XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=42, ...)

Prediction code

In [36]:
with open("best_model.pkl", "rb") as f:
    model = pickle.load(f)

In [44]:
# Make predictions

def predict_churn(data):
    predictions = model.predict(data)
    return predictions

In [47]:
print(predict_churn)

<function predict_churn at 0x000001EC87525EE0>